# SSH Configuration
SSH_KEY=~/.ssh/your-ssh-key

# Docker Configuration
GHCR_USERNAME=username
GHCR_REPO=your-repo-name
GHCR_TOKEN=your_docker_token_here

DOMAIN=your-domain.com

# API Key
API_KEY=your_api_key_here

# Server Hosts
SERVER_HOST_STAGING=123.456.78.90
SERVER_HOST_NBG1=123.456.78.92

# Version
VERSION_TAG="latest"
